* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    background-color: #5F8670;
}

#audio {
    display: none;
}

.header {
    width: 100%;
    height: min(100px, 10vw);
    background-color: #FF9800;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header img {
    max-width: min(296px, 30vw);
    margin-left: 70px;
    cursor: pointer;
}

.main {
    margin: 40px auto 0;
    max-width: min(750px, 85%);
    width: 100%;
    aspect-ratio: 1/1;
    background-color: #FF9800;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.camera {
    background-color: #FFF;
    border-radius: 25px;
    max-width: min(580px, 80%);
    --width: min(580px, 80%);
    width: 100%;
    aspect-ratio: 1/1;
    transform: scaleX(-1);
    
}

#cameraFeed{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 25px;

}

#close {
    /* absolute */
    position: fixed;
    display: none;
    max-width: min(100px , 12vw);
    top: 4%;
    left: 5%;
    aspect-ratio: 1/1;
    cursor: pointer;
}

.btn-contain {
    width: 100%;
    display: flex;
    margin-top: min(25px, 3vw);
    gap: 46px;
    justify-content: center;
}

@media screen and (max-width: 960px) {
    .btn-contain {
        gap: 5vw;
    }
    .header {
        justify-content: center;
    }
    .header img {
        margin-left: 0;
    }
}

@media screen and (max-width: 600px) {
    .main {
        aspect-ratio: 1/1.2;
    }
    
    .btn-contain {
        flex-direction: column;
        align-items: center;
        gap: 3vw;
    }

    .btn-contain button {
        max-width: 75%;
    }
}

.btn-contain button {
    width: 100%;
    text-transform: uppercase;
    max-width: 35%;
    aspect-ratio: 276/94;
    border-radius: min(25px, 3vw);
    border: none;
    color: #fff;
    font-family: "Bebas Neue", sans-serif;
    font-size: min(56px, 4.5vw);
    cursor: pointer;
    text-align: center;
}

.btn-contain button:hover {
    opacity: 0.8;
}

.btn-contain #btn-a {
    background: #820300;
}

.btn-contain #btn-b {
    background: #B80000
}

